// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$vermeille: #FF1053;
$black: #000000;
$violet-clair: #E8E9F3;
$prune: #31081F;
$bordeaux: #6B0F1A;

