// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F5F7F6;

$turquoise: #0198AE;
$rouge: #FF4E4D;
$violet: #8154EF;
$orange: #FF8500;
$light-blue: #9FD2D6;
