body {
  font-family: 'Barlow', sans-serif;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

h4 {
  font-family: 'Barlow', sans-serif;
}

p {
  margin: 0px 0px 8px;
}

li {
    list-style-type: none;
}

#parhunt {
  font-size: 32px;
  font-weight: normal !important;
}

.strong {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.main-title {
  color: white;
  font-size: 64px;
  text-align: center;
  position: absolute;
  margin-top: -100px;
  width: 80%;
  left: 10%;
}

.opacity-08 {
  opacity: 0.8;
}

.rouge {
  color: $rouge;
}

.text-centered {

  margin: 0 auto;
  height: 150px;
}


