.booking-card {
  background: white;
  margin: 8px;
  padding: 8px;
}

.profil {
  display: flex;
  margin-left: 24px;
}

.profil-infos {
  margin-left: 8px;
}

.titre-dashboard {
  font-weight: bold;
  font-size: 42px;
  color: $vermeille;
}
