

.dashboard-cover {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('https://images.unsplash.com/photo-1475414149481-0ee5f7a27ea1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  width: 100%;
  text-align: center;
}

.main-title-dashboard {
  font-size: 64px;
  color: white;
}

.parents {
  width: 100%;
  margin: 10px;
}

.booking {
  width: 100%;
  background-color: white;
  margin-bottom: 16px;
}


/// Tabs ///
.margin-left {
  margin-left: 150px;
}
.tabs {
  clear: both;
  position: relative;
  margin: 0 auto;
  margin-left: 300px;
   /* you can either manually set a min-height here or do it via JS ---> */
}

.tab {
  // float: left;
}

.tab-content {
  height: 100vh;
  margin-left: 100px;
}

.tab label {
  margin-right: 20px;
  position: relative;
  top: 0;
  cursor: pointer;
  color: #333;
   text-transform: uppercase;
}

.tab [type=radio] {
  display: none;
}

.tab__content {
   position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
  opacity: 0;
}

[type=radio]:checked ~ label {
  border-bottom: 2px solid #1d1d1d;
  color: #1d1d1d;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tab__content {
  z-index: 1;
  opacity: 1;
}

.tab-label {
  font-size: 32px;
  border-bottom: solid 1px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 4px;
  margin-right: 16px;
  margin-left: 16px;
}
/// Circles ///

.display-container {
  margin: auto;
  display: flex;
}

.note-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

li .label{
  color: white;
}

.circle__progress {
  fill: rgba(255, 255, 255, .3);
  stroke-width: 3;
  stroke-opacity: 0.3;
  stroke-linecap: round;
}

.note-display:nth-child(1) .circle__progress { stroke: $violet; }
.note-display:nth-child(2) .circle__progress { stroke: $rouge; }

.circle {
  position: relative;
}

.percent {
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  transform: translate(-50%, -50%);
}

.percent__int { font-size: 28px; }
.percent__dec { font-size: 12px; }

.label {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
}

.circle__progress--fill {
  --initialStroke: 0;
  --transitionDuration: 0;
  stroke-opacity: 1;
  stroke-dasharray: var(--initialStroke);
  stroke-dashoffset: var(--initialStroke);
  transition: stroke-dashoffset var(--transitionDuration) ease;
}

.circle__svg {
  transform: rotate(-90deg);
}

// TEST


// OLD

// .dashboard-card {
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   border-radius: 3px;
//   margin: 16px;
//   padding: 24px;
// }

// .bookings-card {
//   display: flex;
// }

// .booking-card-infos {
// }

// .profil {
//   display: flex;
//   margin-left: 24px;
// }

// .profil-infos {
//   margin-left: 8px;
// }

// .titre-dashboard {
//   font-weight: bold;
//   font-size: 42px;
//   color: $orange;
// }

// .dashboard-profiles {
//   display: flex;
// }

// .DB-ratings {
//   input {
//     margin: 8px;
//   }
// }
// // .form-inputs span {
// //   display: inline-block;
// //   margin: 24px;
// // }


// body {
//   font-family: 'Montserrat', sans-serif;
//   color: red;
// }
