.index-container {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-position: column;
}

.landing-cover {
  padding-top: 320px;
  padding-bottom: 320px;
  background-image: url('https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  width: 100%;
  text-align: center;
  position: relative;
}

.rating {
  width: 100px;
}

.search-center {
  width: 100%;
  padding-left: 15px;
}

.bookings-count {
  position: relative;
  display: inline-block;
  height: 34px;
  padding: 0 23px;
  background-color: $light-blue;
  color: white;
  border-radius: 50px;
  line-height: 34px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

