      <div display_container>

          <li class="note-display">
            <div class="circle">
              <svg width="84" height="84" class="circle__svg">
                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
              </svg>

              <div class="percent">
                <span class="percent__int">
                    <%= @bookings_to_validate.length %>
                </span>
              </div>
            </div>

            <span class="label">Réservations en attente</span>
          </li>

          <li class="note-display">
            <div class="circle">
              <svg width="84" height="84" class="circle__svg">
                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--path"></circle>
                <circle cx="41" cy="41" r="38" class="circle__progress circle__progress--fill"></circle>
              </svg>

              <div class="percent">
                <span class="percent__int"> <%= @old_bookings_to_review.length %></span>
              </div>
            </div>

            <span class="label">Réservations à reviewer</span>
          </li>
      </div>
