.button-rose {
  background-color: $rose;
  color: white;
  font-weight: bold;
}

.button-orange {
  background-color: $orange;
  color: white;
  font-weight: lighter;
}

.button-turquoise {
  background-color: $turquoise;
  color: white;
  font-weight: bold;
}

.button-neige {
  background-color: $neige;
  color: gray;
  font-weight: lighter;
}
