.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: 64px;
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
}

.navbar-lewagon .avatar {
  width: 44px;
  border-radius: 50%;
  margin-left: 8px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon a {
  text-decoration: none;
  color: black;
}

.navbar-lewagon p {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  color: #DC3545;
}


